<app-menubar></app-menubar>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
<div class="registro-container">
  <main class="d-flex justify-content-center">
    <section>
      <div class="container">
        <h2 class="text-center">Registrate</h2>
        <form>
          <div class="form-group pb-3">
            <label for="email">Usuario</label>
            <input class="form-control item" type="text" id="nombreUsuario" name="inputNombreUsuario" placeholder="Usuario" [(ngModel)]="this.usuario.nombre_usuario">
          </div>
          <div class="form-group pb-3">
            <label for="email">Correo eléctronico</label>
            <input class="form-control item" type="email" id="email" name="inputEmail" placeholder="correo@gmail.com" [(ngModel)]="this.usuario.correo_usuario">
          </div>
          <div class="form-group pb-3">
            <label for="password">Contraseña</label>
            <input class="form-control" type="password" id="password" name="inputPassword" [(ngModel)]="this.usuario.contrasena_usuario">
          </div>
          <button class="btn btn-dark btn-block" type="submit" (click)="register()">Registrarse</button>
          <div class="pt-3">
            <a href="/login">¿Ya estas registrado? Inicia Sesión</a>
          </div>
        </form>
      </div>
    </section>
  </main>
  <div class="welcome-column"></div>
</div>
